@font-face {
    font-family: "Popins-Bold";
    src: url("../Fonts/poppins/Poppins-Bold.otf");
}

@font-face {
    font-family: "Popins-Thin";
    src: url("../Fonts/poppins/Poppins-Thin.otf");
}

@font-face {
    font-family: "Popins-Medium";
    src: url("../Fonts/poppins/Poppins-Medium.otf");
}

@font-face {
    font-family: "Popins-Regular";
    src: url("../Fonts/poppins/Poppins-Regular.otf");
}

@font-face {
    font-family: "Avenir-Bold";
    src: url("../Fonts/Avenir-Next/Avenir-Bold.otf");
}

@font-face {
    font-family: "Avenir-Medium";
    src: url("../Fonts/Avenir-Next/Avenir-Medium.otf");
}

@font-face {
    font-family: "Avenir-Regular";
    src: url("../Fonts/Avenir-Next/Avenir-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
}

h2,
h3 {
    font-family: 'Avenir-Bold', serif;
}

p,
label,
a,
button {
    font-family: 'Avenir-Regular', serif;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none;
}

.navbar {
    height: 80px;
    padding: 0 30px;
}

.navbar .logo {
    width: 100px;
    display: none;
}

.icon {
    width: 35px;
    height: 15px;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    right: 0;
}

.navbar .icon span {
    width: 35px;
    height: 4px;
    display: block;
    background: #000;
    position: absolute;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.navbar .icon span:nth-child(2) {
    bottom: 0;
}

.navbar .icon span.span-active:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.navbar .icon span.span-active:nth-child(2) {
    transform: rotate(-45deg);
}

.navbar .links {
    margin-left: auto;
    margin-right: 50px;
    display: none;
}

.navbar .links a {
    color: #292929;
    position: relative;
}

.navbar .links a:hover::after {
    content: '';
    display: block;
    width: 100%;
    background: #000;
    height: 3px;
    border-radius: 50px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.navbar .links.menu-active {
    display: block;
}

.navbar .links a {
    margin: 0 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
}

.title::after {
    content: '';
    display: block;
    width: 60px;
    background: #000;
    height: 8px;
    border-radius: 50px;
    margin-top: 8px;
}

.home {
    height: 100vh;
    text-align: center;
    max-height: 700px;
    position: relative;
    z-index: 1;
}

.home h1 {
    font-family: 'Avenir-Regular', serif;
    /* width: 80%; */
    margin-top: 2rem;
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.home h1::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 10px;
}

.home h1::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 15px;
}

.home h2 {
    font-family: 'Avenir-Medium', serif;
}

.home h3 {
    font-family: 'Avenir-Regular', serif;
}

.home img {
    width: 70%;
    max-width: 800px;
}


.home h1 {
    font-weight: 300;
}

/* Nosotros */
.about {
    position: relative;
}

.about,
.fundaciones {
    min-height: 550px;
}

.about .carousel-item {
    height: 330px;
}

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about .carousel-item .content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.about .carousel-indicators {
    position: relative;
}

.about .carousel-indicators li {
    background: #000;
    border: 0;
}

.about .carousel-item span {
    font-family: 'Avenir-Bold', serif;
}

.about .pleca {
    position: absolute;
    max-width: 100%;
    top: -90%;
    height: 900px;
    z-index: 0;
}

/* Fundaciones */
.fundaciones .categorias {
    margin: 0;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    color: #fff;
}

.fundaciones .categorias .categoria {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fundaciones .categoria h2 {
    margin: 0;
    transform: rotate(-90deg);
    transition: transform 0.2s 0.2s;
    font-size: 1rem;
}

.categoria:nth-child(even) {
    background: fff;
}

/* .categoria:nth-child(odd) {
    background: #000;
    color: #fff;
} */

.categorias .mujeres {
    background-image: url(../images/Categorias/mujeres_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .niños {
    background-image: url(../images/Categorias/ninos_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .educacion {
    background-image: url(../images/Categorias/Educacion_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .cancer {
    background-image: url(../images/Categorias/Cancer_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .reconstruccion {
    background-image: url(../images/Categorias/reconstruccion_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .animales {
    background-image: url(../images/Categorias/Animales_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .ecologia {
    background-image: url(../images/Categorias/Ecologico_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .salud {
    background-image: url(../images/Categorias/Salud_BN.png) !important;
    background-size: cover;
    background-position: center;
}

a.btn-donar {
    display: block;
    width: 150px;
    margin: 0 auto;
}

/* Heroes */
.heroes {
    background: #f9f9f9;
}

.heroes .conocelos {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.box-img span {
    display: block;
    position: absolute;
    background: #000000;
}

.box-img span:nth-child(1),
.box-img span:nth-child(5) {
    width: 100px;
    height: 5px;
}

.box-img span:nth-child(1) {
    top: 0;
    left: 15px;
}

.box-img span:nth-child(5) {
    bottom: 0;
    right: 15px;
}

.box-img span:nth-child(2),
.box-img span:nth-child(4) {
    height: 100px;
    width: 5px;
}

.box-img span:nth-child(2) {
    top: 0;
    left: 15px;
}

.box-img span:nth-child(4) {
    bottom: 0;
    right: 15px;
}

/* Libro */
.libro a.comprar {
    width: 200px;
    display: block;
    margin: 20px auto;
}

/* #modalLibro .modal-content {
    box-shadow: 0px 0px 30px #ebebeb;
} */

#mc_embed_signup .mc-field-group input,
#mc_embed_signup .mc-field-group select {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 3px 3px 3px #ebebeb;
}

#mc-embedded-subscribe {
    margin: 0 !important;
}

#mc-embedded-subscribe {
    clear: both;
    width: auto;
    display: block;
    margin: 1em 0 1em 5%;
    border: none;
    background: #fff;
}

/* Causas */

.causas .owl-prev {
    position: absolute;
    left: -25px;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
}

.causas .owl-theme .owl-nav [class*=owl-] {
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

.causas .owl-next {
    position: absolute;
    right: -25px;
    top: calc(50% - 15px);
    height: 30px;
    width: 30px;
}

.causas .owl-carousel img {
    padding: 25px 0;
    width: 65%;
}

.causas .owl-carousel h4.name {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e8388;
    flex-direction: column;
    padding: 0 20px;
    font-size: 17px;
    text-transform: uppercase;
    display: none;
    text-align: center;
    width: 35%;
}

.causas .owl-carousel .owl-item.active:nth-child(2) h4.name {
    display: block;
}

.causas .owl-carousel h4.name span {
    color: #fff;
}

.causas button:focus {
    outline: 0;
}

/* .prev-slide {
    background-image: url(../images/Izquierda.svg);
}

.next-slide {
    background-image: url(../images/Derecha.svg);
}

.prev-slide,
.next-slide {
    width: 30px;
    height: 30px;
} */


/* Contact */
.btn-enviar {
    background: #fff;
    background-image: url(../images/enviar.svg);
    background-size: cover;
    width: 150px;
    height: 40px;
    border: none;
}

.btn-suscribirse {
    background: #fff;
    background-image: url(../images/suscribirse.svg);
    background-size: cover;
    width: 190px;
    height: 40px;
    border: none;
}

.newsletter {
    border: 1px solid #ebebeb;
    border-radius: 35px;
    box-shadow: 0px 0px 15px #ebebeb;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 3px 3px 3px #ebebeb;
}

[type="checkbox"] {
    background-color: #56fbc4;
    display: none;
}

.form-check label:before {
    content: '';
    border: 1px solid #cdd2d7;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

[type="checkbox"]:checked+label:before {
    border-color: #56fbc4;
    color: #56fbc4;
    content: '\f00c';
    font-family: FontAwesome;
    transform: rotate(360deg);
}

/* Footer */

footer {
    background: #000;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #6b6363;
}

footer p.derechos {
    font-size: 13px;
}

footer img {
    width: 170px;
}

footer .redes {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

footer .redes img {
    width: 25px;
}

/* Gallery Heroes */
.gallery {
    background: #000;
    color: #fff;
}

.gallery .title {
    font-size: 50px;
    letter-spacing: 2px;
}

.gallery .title::after {
    background: #fff;
    width: 16%;
    height: 15px;
}

.card-columns .card {
    border: none;
}

.card-columns .card::after {
    content: '';
    height: 100px;
    width: 3px;
    display: block;
    position: absolute;
    left: -3px;
    background: white;
    top: 0;
}

.card-columns .card::before {
    content: '';
    height: 3px;
    width: 100px;
    display: block;
    position: absolute;
    left: -3px;
    background: white;
    top: 0;
}

/* Modals */

.modal-content img {
    width: 200px;
}

.modal-content h4 {
    font-size: 20px;
    margin: 15px 0;
    color: #f7f8fc;
}

.modal-content h4.title::after {
    content: '';
    width: 100px;
    height: 3px;
    display: block;
    background: #fff;
}

.modal-content p {
    color: #5c5e61;
    font-size: 14px;
}

.modal {
    background: rgba(0, 0, 0, .95);
}

.modal-content .carousel-item {
    height: 400px;
}

.modal-content .carousel-item .row {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.modal-content h4 {
    color: black;
}

.modal-content h4.title::after {
    content: '';
    width: 135px;
    height: 3px;
    display: block;
    background: #fff;
    position: absolute;
    margin: 0;
    right: 5%;
}

.modal-content h4.title::before {
    content: '';
    width: 135px;
    height: 3px;
    display: block;
    background: #fff;
    position: absolute;
    margin: 0;
    left: 5%;
}

.modal-content .col-md-4::after {
    content: '';
    display: block;
    height: 180px;
    width: 3px;
    background: #000;
    left: 0%;
    position: absolute;
}

.modal-content .col-md-8 {
    padding-right: 3em;
}

.carousel-control-next,
.carousel-control-prev {
    width: 20px;
}

.carousel-control-next {
    right: -24px;
}

.carousel-control-prev {
    left: -24px;
}

.carousel-control-prev-icon {
    background-image: url(../images/Prev.svg);
}

.carousel-control-next-icon {
    background-image: url(../images/Next.svg);
}

#modalPromocion {
    background: transparent;
}

#modalPromocion .modal-content {
    max-width: 900px;
    background: #f9f9f9;
    margin: 0 auto;
}

#modalPromocion .modal-content img {
    width: 100%;
}

#modalPromocion .modal-content button {
    position: absolute;
    right: 5px;
    top: 6px;
    z-index: 1030;
}

#modalPromocion .modal-content button span {
    font-family: 'Avenir-Bold', serif;
    font-size: 2rem;
}

#modalPromocion .modal-content p {
    font-size: 16px;
    text-align: justify;
}

#modalPromocion .modal-content #btnmodalpromocion {
    display: block;
    width: 180px;
    margin-top: 25px;
}

@media (min-width: 992px) {
    .fundaciones .categorias .categoria:hover {
        flex: 18;
    }

    .fundaciones .categorias .categoria:hover h2 {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 950px;
        margin: 1.75rem auto;
    }
}


@media(max-width: 1199px) {
    .causas .owl-carousel h4.name {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 70px;
        bottom: 0;
        top: auto;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 24px;
    }

    .navbar {
        height: 80px;
        padding: 20px 10px;
    }

    .navbar .links {
        margin: auto;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: #fff;
    }

    .navbar .links a {
        display: block;
        margin: 5px 0;
        width: auto;
    }

    .navbar .links a:hover::after {
        width: 20%;
        bottom: 0;
        left: 40%;
    }

    .navbar .logo {
        width: 80px;
        position: absolute;
        top: 20px;
    }

    .icon {
        width: 35px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 15px;
    }

    .home img {
        width: 85%;
    }

    .home h1 {
        font-size: 20px;
    }

    .home h2 {
        font-size: 22px;
    }

    .home h3 {
        font-size: 18px;
    }

    .about .carousel-item .content {
        width: 100%;
    }

    .fundaciones .categorias {
        flex-direction: column;
        height: auto;
    }

    .fundaciones .categorias .categoria {
        height: 100px;
        flex: auto;
    }

    .fundaciones .categoria h2 {
        margin: 0;
        transform: rotate(0deg);
        transition: transform 0.2s 0.2s;
        font-size: 1rem;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .modal-content h4 {
        font-size: 16px;
    }

    .modal-content p {
        font-size: 11px;
    }

    .modal-content img {
        width: 120px;
    }

    .modal-content .col-md-4::after {
        display: none;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 15px;
    }

    /* .about .carousel-item {
        height: 390px;
    } */
    .about {
        min-height: 450px;
    }

    .carousel-item p {
        font-size: 10px;
    }

    .form-check {
        padding-left: 0;
    }

    .form-check-label {
        font-size: 14px;
    }

    .modal-content {
        height: 580px;
    }

    .modal-content .carousel-item .col-md-8 {
        padding: 0 !important;
    }

    .modal-content .carousel-inner {
        height: 490px;
    }

    .modal-content .carousel-item {
        height: 100%;
    }

    .modal-content .col-md-8 {
        padding-right: 15px;
    }

    footer .footer-links {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-links a {
        display: block;
        margin: 5px 0;
    }

    #mc_embed_signup .size1of2 {
        width: 100% !important;
        margin: 10px 0;
    }

    #mc_embed_signup .mc-field-group {
        width: 100% !important;
    }

    #mc-embedded-subscribe {
        width: 150px !important;
        height: auto;
    }

    #mc-embedded-subscribe img {
        width: 100%;
    }

    #modalPromocion .modal-content {
        height: auto;
        padding: 0 0 3rem 0;
    }

    #modalPromocion .title {
        margin-top: 2rem;
    }

}