@font-face {
    font-family: "Popins-Bold";
    src: url("../Fonts/poppins/Poppins-Bold.otf");
}

@font-face {
    font-family: "Popins-Thin";
    src: url("../Fonts/poppins/Poppins-Thin.otf");
}

@font-face {
    font-family: "Popins-Medium";
    src: url("../Fonts/poppins/Poppins-Medium.otf");
}

@font-face {
    font-family: "Popins-Regular";
    src: url("../Fonts/poppins/Poppins-Regular.otf");
}

@font-face {
    font-family: "Avenir-Bold";
    src: url("../Fonts/Avenir-Next/Avenir-Bold.otf");
}

@font-face {
    font-family: "Avenir-Medium";
    src: url("../Fonts/Avenir-Next/Avenir-Medium.otf");
}

@font-face {
    font-family: "Avenir-Regular";
    src: url("../Fonts/Avenir-Next/Avenir-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
}

h2 {
    font-family: 'Avenir-Bold', serif;
}

p,
label,
a,
button {
    font-family: 'Avenir-Regular', serif;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none;
}

.navbar {
    height: 80px;
    padding: 0 30px;
}

.icon {
    width: 35px;
    height: 15px;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    right: 0;
}

.navbar .icon span {
    width: 35px;
    height: 4px;
    display: block;
    background: #000;
    position: absolute;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.navbar .icon span:nth-child(2) {
    bottom: 0;
}

.navbar .icon span.span-active:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.navbar .icon span.span-active:nth-child(2) {
    transform: rotate(-45deg);
}

.navbar .links {
    margin-left: auto;
    margin-right: 50px;
    display: none;
}

.navbar .links a {
    color: #292929;
    position: relative;
}

.navbar .links a:hover::after {
    content: '';
    display: block;
    width: 100%;
    background: #000;
    height: 3px;
    border-radius: 50px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.navbar .links.menu-active {
    display: block;
}

.navbar .links a {
    margin: 0 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title::after {
    content: '';
    display: block;
    width: 60px;
    background: #000;
    height: 6px;
    border-radius: 50px;
    margin-top: 8px;
}

.home {
    height: 100vh;
    text-align: center;
    max-height: 700px;
    position: relative;
}

.home h1 {
    font-family: 'Avenir-Regular', serif;
    /* width: 80%; */
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15%;
}

.home h1::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 10px;
}

.home h1::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 15px;
}

.home img {
    width: 70%;
    max-width: 800px;
}


.home h1 {
    font-weight: 300;
}

/* Nosotros */
.about,
.fundaciones {
    min-height: 550px;
}

.about .carousel-item {
    height: 330px;
}

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about .carousel-item .content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.about .carousel-indicators {
    position: relative;
}

.about .carousel-indicators li {
    background: #000;
    border: 0;
}

.about .carousel-item span {
    font-family: 'Avenir-Bold', serif;
}

/* Fundaciones */
.fundaciones .categorias {
    margin: 0;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    color: #fff;
}

.fundaciones .categorias .categoria {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fundaciones .categorias .categoria:hover {
    flex: 18;
}

.fundaciones .categorias .categoria:hover h2 {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.fundaciones .categoria h2 {
    margin: 0;
    transform: rotate(-90deg);
    transition: transform 0.2s 0.2s;
    font-size: 1rem;
}

.categoria:nth-child(even) {
    background: fff;
}

/* .categoria:nth-child(odd) {
    background: #000;
    color: #fff;
} */

.categorias .mujeres {
    background-image: url(../images/Categorias/mujeres_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .niños {
    background-image: url(../images/Categorias/ninos_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .educacion {
    background-image: url(../images/Categorias/Educacion_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .cancer {
    background-image: url(../images/Categorias/Cancer_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .reconstruccion {
    background-image: url(../images/Categorias/reconstruccion_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .animales {
    background-image: url(../images/Categorias/Animales_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .ecologia {
    background-image: url(../images/Categorias/Ecologico_BN.png) !important;
    background-size: cover;
    background-position: right;
}

.categorias .salud {
    background-image: url(../images/Categorias/Salud_BN.png) !important;
    background-size: cover;
    background-position: center;
}

a.btn-donar {
    /* background: #000; */
    background: rgb(255, 255, 255);
    background: linear-gradient(149deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 63%);
    color: #fff;
    display: block;
    width: 100px;
    margin: 1rem auto;
    text-align: center;
    padding: .5rem;
    border-radius: 20px;
}

.owl-prev {
    position: absolute;
    left: -50px;
    top: calc(50% - 15px);
}

.owl-theme .owl-nav [class*=owl-] {
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

.prev-slide {
    background-image: url(../images/Izquierda.svg);
}

.next-slide {
    background-image: url(../images/Derecha.svg);
}

.prev-slide,
.next-slide {
    width: 30px;
    height: 30px;
}

.owl-next {
    position: absolute;
    right: -50px;
    top: calc(50% - 15px);
}

/* Heroes */
.heroes {
    background: #f9f9f9;
    height: 600px;
}

/* Contact */
form button {
    /* background-image: linear-gradient(160deg, #f2f2f2 0, #3b3b3b 40%, #000000 100%) !important;
    border: 0 !important;
    border-radius: 20px !important;
    width: 125px; */
    background: white !important;
    color: black !important;
    border: 1px solid #ced4da !important;
    border-radius: 5px !important;
    box-shadow: 5px 5px 10px #ced4da;
}

.newsletter {
    border: 1px solid #ebebeb;
    border-radius: 35px;
    box-shadow: 5px 5px 8px #ebebeb;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 3px 3px 3px #ebebeb;
}

footer {
    background: #000;
    color: #fff;
}

footer a {
    color: #fff;
}

footer img {
    width: 170px;
}

/* Modals */

.modal-content {
    background: #212326;
    color: #fff;
}

.modal-content img {
    width: 150px;
}

.modal-content h4 {
    font-size: 20px;
    margin: 15px 0;
    color: #f7f8fc;
}

#modalDos h4.title::after {
    content: '';
    width: 100px;
    height: 3px;
    display: block;
    background: #fff;
}

.modal-content p {
    color: #5c5e61;
    font-size: 14px;
}

#modalDos {
    background: rgba(0, 0, 0, .95);
}

#modalDos .modal-content {
    background: #fff;
    color: black;
}

#modalDos .modal-content h4 {
    color: black;
}

#modalDos h4.title::after {
    content: '';
    width: 135px;
    height: 3px;
    display: block;
    background: #fff;
    position: absolute;
    margin: 0;
    right: 5%;
}

#modalDos h4.title::before {
    content: '';
    width: 135px;
    height: 3px;
    display: block;
    background: #fff;
    position: absolute;
    margin: 0;
    left: 5%;
}

#modalDos .modal-content .col-md-5::after {
    content: '';
    display: block;
    height: 180px;
    width: 3px;
    background: #000;
    left: 10%;
    position: absolute;
}

/* #modalDos .modal-content .modal-body::after {
    content: '';
    display: block;
    height: 180px;
    width: 7px;
    background: #000;
    left: -2px;
    position: absolute;
    bottom: 0;
}

#modalDos .modal-content .modal-body::before {
    content: '';
    display: block;
    width: 180px;
    height: 7px;
    background: #000;
    left: -2px;
    position: absolute;
    bottom: -1px;
}

#modalDos .modal-content::after {
    content: '';
    display: block;
    height: 180px;
    width: 7px;
    background: #000;
    right: -2px;
    position: absolute;
    top: 0;
}

#modalDos .modal-content::before {
    content: '';
    display: block;
    width: 180px;
    height: 7px;
    background: #000;
    right: -2px;
    position: absolute;
    top: -1px;
} */

#modalMujeres .modal-content .col-md-5::after {
    content: '';
    display: block;
    height: 150px;
    width: 3px;
    background: #fff;
    left: 10%;
    position: absolute;
}

#modalMujeres .modal-content .modal-body::after {
    content: '';
    display: block;
    height: 130px;
    width: 4px;
    background: #fff;
    left: -2px;
    position: absolute;
    bottom: 0;
}

#modalMujeres .modal-content .modal-body::before {
    content: '';
    display: block;
    width: 130px;
    height: 4px;
    background: #fff;
    left: -2px;
    position: absolute;
    bottom: -1px;
}

#modalMujeres .modal-content::after {
    content: '';
    display: block;
    height: 130px;
    width: 4px;
    background: #fff;
    right: -2px;
    position: absolute;
    top: 0;
}

#modalMujeres .modal-content::before {
    content: '';
    display: block;
    width: 130px;
    height: 4px;
    background: #fff;
    right: -2px;
    position: absolute;
    top: -1px;
}

#modalMujeres .close {
    color: rgba(255, 255, 255, .5);
}



@media (min-width: 576px) {
    .modal-dialog {
        max-width: 850px;
        margin: 1.75rem auto;
    }
}